<!-- ADD TASK MODAL -->
<div class="time-modal fixed-center" id="addTaskModal">
{{ form(add_task_form) }}
</div>


{% block script %}
<script src="{{ asset("js/modals.js") }}"></script>
{% endblock %}