{% extends 'base.html.twig' %}

{% block title %}Hello DeveloperController!{% endblock %}

{% block body %}

<div>
    <table>
        <thead>
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for developer in developers %}
                <tr>
                    <td>{{ developer.getFirstName() }}</td>
                    <td>{{ developer.getLastName() }}</td>
                    <td>{{ developer.email }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
